/* user table inline edit */
.u-table-tr td * {
	margin-bottom: 0px;
}
.u-table-tr:hover {
	cursor: pointer;
}
.u-table-tr button {
	width:100%;
	height: 100%;
	padding: 0px;
}
.u-table-tr .bt-edit {
	display: inline-block;
	visibility: hidden;
}
.u-table-tr.edit .bt-edit {
	display: none;
}
.u-table-tr:hover .bt-edit {
	visibility: visible;
}
.u-table-tr:hover .bt-edit::before {
	content: "edit";
}
.u-table-tr:hover .bt-edit:hover {
    background: #e74c3c;
}
.u-table-tr:hover .bt-edit:hover::before{
	content: "delete";
}
.u-table-tr .bt-save {
	display: none;
}
.u-table-tr.edit .bt-save {
	display: inline-block;
}
.u-table-tr.edit:hover .bt-save {
    background: #efefef;
}
.u-table-tr.edit .bt-save {
	display: inline-block;
    background: #f1c40f;
}
.u-table-tr.edit:hover .bt-save::before {
	content: "save";
}
.u-table-tr.edit:hover .bt-save:hover {
    background: #16a085;
}
.u-table-tr.edit .bt-save::before {
	content: "cancel";
}
.u-table-tr.edit {
	position: relative;
	z-index: 10;
    background: rgba(200, 200, 0, 0.3);
}
.u-table-tr.edit:hover {
    background: rgba(200, 200, 0, 0.1);
}
.u-table-tr.edit .tr-edit {
	display: none;
}
.u-table-tr.edit input {
	display: inline-block;
}
.u-table-tr.edit div {
	display: inline-block;
	}
	.u-table-tr.edit div.select {
		width: 80%;
	}
.u-table-tr.edit p {
	display: none;
}
.u-table-tr input {
	display: none;
}
.u-table-tr p {
	display: inline;
}
.u-table-tr div {
	display: none;
}

.table_edit_check {
	display: none;
}
.table_edit_check.edit {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}
.table_edit_check.edit:hover {
    transition: all 0.15s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: rgba(0, 0, 0, 0.05);
	cursor: alias;
}

.select {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.select select {
	display: block;
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	color: #7b7b7b;
	border: 0;
	border-radius: 0;
	outline: 0;
	background: #e6e6e6;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select select::-ms-expand {
	display: none;
}
.select select:hover,
.select select:focus {
	color: #000;
	background: #ccc;
}
.select select:disabled {
	pointer-events: none;
	opacity: .5;
}
.select__arrow {
position: absolute;
	top: 16px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
	border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
	border-top-color: #ccc;
}
