.u-table-tr:hover {
	cursor: pointer;
}
.u-table-tr:hover .tr-edit {
	visibility: visible;
}
.u-table-tr .tr-edit {
	visibility: hidden;
}
.u-table-tr td * {
	margin-bottom: 0px;
}
.u-table-tr button {
	display: none;
}
.u-table-tr.edit button {
	display: inline-block;
}
.u-table-tr.edit {
	position: relative;
	z-index: 10;
    background: rgba(200, 200, 0, 0.3);
}
.u-table-tr.edit:hover {
    background: rgba(200, 200, 0, 0.1);
}
.u-table-tr.edit input {
	display: inline-block;
}
.u-table-tr.edit div {
	display: inline-block;
	}
	.u-table-tr.edit div.select {
		width: 80%;
	}
.u-table-tr.edit p {
	display: none;
}
.u-table-tr input {
	display: none;
}
.u-table-tr p {
	display: inline;
}
.u-table-tr div {
	display: none;
}

.table_edit_check {
	display: none;
}
.table_edit_check.edit {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}
.table_edit_check.edit:hover {
    background: rgba(0, 0, 0, 0.1);
	cursor: alias;
}

.select {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.select select {
	display: block;
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	color: #7b7b7b;
	border: 0;
	border-radius: 0;
	outline: 0;
	background: #e6e6e6;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select select::-ms-expand {
	display: none;
}
.select select:hover,
.select select:focus {
	color: #000;
	background: #ccc;
}
.select select:disabled {
	pointer-events: none;
	opacity: .5;
}
.select__arrow {
position: absolute;
	top: 16px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
	border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
	border-top-color: #ccc;
}
	  /*
input[id*="table_"] {
  display: none; }
  input[id*="table_"]:checked + label {
    outline: none;
    background-size: 1000%;
    transition: all 1s cubic-bezier(0.64, 0.09, 0.08, 1); }
    input[id*="table_"]:checked + label:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      z-index: 9; }
  input[id*="table_"]:checked ~ .table-instance-content {
    transition: opacity 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    opacity: 1;
    display: block;
    height: auto;
    width: auto;
    padding: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }
    input[id*="table_"]:checked ~ .table-instance-content * {
      height: auto;
      width: auto; }
	  */

		/*
.modal-trigger {
  white-space: pre;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  padding: 10px 20px;
  background-size: 1%;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .modal-trigger:after {
    white-space: nowrap;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    background-image: none; }

.modal-content {
  position: fixed;
  opacity: 0;
  height: 0;
  background: white;
  border-radius: 3px; }
  .modal-content * {
    width: 0;
    height: 0; }

	*/
